::ng-deep .already-exist-snackbar {
  color: black !important;
  background-color: white !important;
  display: flex !important;
  text-align: center !important;
  min-width: 100px !important;
}

::ng-deep .already-exist-snackbar::after {
  font-family: "FontAwesome" !important;
  content: "\f06a" !important;
  color: rgb(167, 167, 27) !important;
  display: inline-block !important;
  margin-left: 15px !important;
}

::ng-deep .new-genre-snackbar {
  color: black !important;
  background-color: white !important;
  display: flex !important;
  text-align: center !important;
  min-width: 100px !important;
}

::ng-deep .new-genre-snackbar::after {
  font-family: "FontAwesome" !important;
  content: "\f00c" !important;
  color: green !important;
  display: inline-block !important;
  margin-left: 15px !important;
}

::ng-deep .mat-error {
  font-size: 13px !important;
}

::ng-deep .mat-icon {
  font-size: medium !important;
  color: red !important;
}

::ng-deep .custom-tooltip {
  font-size: small !important;
}