<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people_outline</i>
            </div>
            <h4 class="card-title">Reset Password</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput [(ngModel)]="selectedData.password" type="password" name="Password" placeholder="Password" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Re-Type New Password</mat-label>
                    <input matInput [(ngModel)]="confirmPassword" type="password" name="ConfirmPassword" placeholder="Re_type Password"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button (click)="saveNewPassword()" class="btn btn-primary pull-right">Save</button>
              <button mat-raised-button class="btn btn-primary pull-right" (click)='clearStorage()'
                [routerLinkActive]="['router-link-active']">Cancel</button>
              <div class="clearfix"></div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>