a{
    text-decoration: none;
    padding: 10px 15px;
    color: blue;
}
.active{
    color: #000;
    border: none;
    border-bottom: 3px solid #0081d9;
}

.btn{
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    
}
.tb-btn{
    float: right;
}