<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">publish</i>
            </div>
            <h4 class="card-title">Edit Publish</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-right">
                <a [routerLink]="['/add-publish']" [routerLinkActive]="['router-link-active']"
                  class="btn btn-sm btn-primary" *ngIf="operationAccessMap.get('Publish-Create')">New Publish</a>
                <a [routerLink]="['/view-publish']" *ngIf="operationAccessMap.get('Publish-View')"
                  [routerLinkActive]="['router-link-active']" class="btn btn-sm btn-primary">Approve Publish</a>
              </div>
            </div>
            <!-- <form> -->
            <div class="row" *ngIf="!showPopulatePublish && !showSeatLayout">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Select Company" [(ngModel)]="selectedCompany" name="company"
                    (ngModelChange)="onCompanyChange($event)">
                    <mat-option *ngFor="let company of companyList" [value]="company">
                      {{company.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Select Venue" [(ngModel)]="selectedVenue" name="venue"
                    (ngModelChange)="onVenueChange($event)">
                    <mat-option *ngFor="let venue of venueList" [value]="venue">
                      {{venue.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Select Screen" [(ngModel)]="selectedScreen" name="screen">
                    <mat-option *ngFor="let screen of screenList" [value]="screen">
                      {{screen.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            
            <div class="row" *ngIf="!showPopulatePublish && !showSeatLayout">
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput name="rromDate" [matDatepicker]="fromDatepicker " (focus)="fromDatepicker.open()"
                    [(ngModel)]="fromDate" id="datetime" placeholder="From Date" class="form-control" id="fromDate">
                  <mat-datepicker-toggle matSuffix [for]="fromDatepicker "></mat-datepicker-toggle>
                  <mat-datepicker #fromDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput name="toDate" [matDatepicker]="toDatepicker" (focus)="toDatepicker.open()"
                    [(ngModel)]="toDate" id="datetime" placeholder="To Date" class="form-control" id="toDate">
                  <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #toDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button (click)="populateSavedData()" *ngIf="!showPopulatePublish && !showSeatLayout"
              class="btn btn-primary pull-right">Populate</button>
            <div class="clearfix">
            </div>
            <div *ngIf="showPopulatePublish && !showSeatLayout">
              <div class="col-md-12" style="overflow-y:auto;">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select placeholder="Select Movie" 
                    
                    (ngModelChange)="onMovieChangedropdown($event)"
                    
                    [(ngModel)]="selectedMovie" name="screen">
                      <mat-option *ngFor="let movie of movieList" 
                      
                      
                      
                      
                      [value]="movie">
                        {{movie.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <table mat-table [dataSource]="publishDataSource">

                  <ng-container matColumnDef="showDate">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Show Date </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data; let i = index"
                      [attr.rowspan]="getRowSpan('showDate', i)"
                      [style.display]="getRowSpan('showDate', i) ? '' : 'none'">
                      {{data.showDate | date: 'dd-MMM-yyyy'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="showTime">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Show Time </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data; let i = index"
                      [attr.rowspan]="getRowSpan('showTime', i)"
                      [style.display]="getRowSpan('showTime', i) ? '' : 'none'">

                      <mat-form-field style="width: 60px;">
                        <input matInput [(ngModel)]="data.showTime" (change)="onShowTimeChange(data)"
                          name="publish_showTime_{{i}}">
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="movie">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Movie </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data; let i = index"
                      [attr.rowspan]="getRowSpan('movie', i)" [style.display]="getRowSpan('movie', i) ? '' : 'none'">


                      <mat-form-field style="width: 150px;">
                        <mat-select placeholder="Select Movie" [(ngModel)]="data.selectedMovie"
                          [compareWith]="compareObjects" (ngModelChange)="onMovieChange(data)"
                          name="publish_movie_{{i}}">
                          <mat-option *ngFor="let movie of data.movieList" [value]="movie">
                            {{movie.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="cancelShow">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Cancel Show </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data; let i = index"
                      [attr.rowspan]="getRowSpan('cancelShow', i)"
                      [style.display]="getRowSpan('cancelShow', i) ? '' : 'none'">

                      <section class="example-section">
                        <mat-checkbox [(ngModel)]="data.cancelShow" (change)="onCancelShowChange(data)"
                          name="publish_cancelShow_{{i}}"></mat-checkbox>
                      </section>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="class">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Class </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data"> {{data.className}} </td>
                  </ng-container>

                  <ng-container matColumnDef="baseFare">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Base Fare </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data; let i = index">
                      <mat-form-field style="width: 50px;">
                        <input matInput [(ngModel)]="data.baseFare" name="calculateTotalFare(data)">
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="extraAmount">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Extra Fare </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data; let i = index">

                      <mat-form-field style="width: 50px;">
                        <input matInput [(ngModel)]="data.extraFare" name="publish_extraFare_{{i}}">
                      </mat-form-field>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="discount">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Discount</th>
                    <td class="table_border_style" mat-cell *matCellDef="let element; let i = index">

                      <mat-form-field style="width: 50px;">
                        <input matInput [(ngModel)]="element.discount" (ngModelChange)="calculateTotalFare(element)">
                      </mat-form-field>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="tax">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef>
                      Tax(C.g.s.t+I.g.s.t) </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data"> {{data.tax}} </td>
                  </ng-container>

                  <ng-container matColumnDef="totalFareIncludingTax">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Total Fare
                      (Including
                      Taxes) </th>
                    <td class="table_border_style" mat-cell *matCellDef="let data"> {{data.totalFareIncludingTax}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="seats">
                    <th class="table_border_style mat-header-row" mat-header-cell *matHeaderCellDef> Seats</th>
                    <td class="table_border_style" mat-cell *matCellDef="let data; let i = index"
                      [attr.rowspan]="getRowSpan('movie', i)" [style.display]="getRowSpan('movie', i) ? '' : 'none'">

                      <a (click)="getViewSeatLayout()"
                        style="cursor: pointer; color: blue; text-decoration: underline;">View Seat
                        Selection</a>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="publishDisplaycolumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: publishDisplaycolumns;"></tr>
                </table>
              </div>
            </div>
            <br />
            <!-- Seat layout -->

            <div *ngIf="showSeatLayout">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div fxLayout="column">
                          <div style="margin: 0 auto ">
                            <div *ngFor="let class of seatClass.classes;let i = index;" style="margin: 10px;">
                              <div>
                                <div style="margin-bottom: 15px;border-bottom: 1px solid #d82424;">
                                  <label>{{ class.className }} - ₹{{ class.baseFare }}</label>
                                </div>
                              </div>
                              <table cellspacing="0" cellpadding="0" id="seatlayout">
                                <tbody>
                                  <tr *ngFor="let row of class.labels">
                                    <td style="width: 30px; " style="padding: 0" id="tabletd">
                                      {{ row.groupId != 'DUMMY' ? row.groupId : '' }}
                                    </td>
                                    <td *ngFor="let seat of row.seats" id="tabletd">
                                      <div class="seat" style="cursor: pointer;" *ngIf="(seat.bookingStatus =='AVAILABLE' && seat.seatNumber) ||
                                (seat.bookingStatus =='NEW_BY_CANCEL' && seat.seatNumber)" [ngClass]="seat.selectedstatus_ui == 0 || seat.selectedstatus_ui =='' ||
                      seat.selectedstatus_ui == null? 'available-seat': 'selected-seat'"
                                        (click)="seatSelect(seat,class)">
                                        <label>{{seat.seatNumber}}</label>
                                      </div>
                                      <div class="seat " *ngIf="seat.bookingStatus =='AVAILABLE' &&!seat.seatNumber"
                                        style="visibility: hidden;">
                                        {{seat.seatNumber}}
                                      </div>
                                      <div class="seat locked" *ngIf="seat.bookingStatus =='LOCKED'">
                                        {{seat.seatNumber}}
                                      </div>
                                      <div class="seat unavailable" *ngIf="seat.bookingStatus =='DEFALUT BLOCKED'">
                                        {{seat.seatNumber}}
                                      </div>
                                      <div class="seat blocked" *ngIf="seat.bookingStatus =='SOCIAL DISTANCE'">
                                        {{seat.seatNumber}}
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div style="position: relative;
                            width: 682px;">
                            <mat-radio-group aria-label="Select an Status option" [(ngModel)]="seatOption">
                              <mat-radio-button *ngFor="let status of selectedSeatStatus" [value]="status"
                                (change)="radioChange($event)">
                                {{status}}
                              </mat-radio-button>
                            </mat-radio-group>
                            <button mat-raised-button class="btn btn-primary pull-right"
                              (click)="cancelSeat()">Cancel</button>
                            <button mat-raised-button class="btn btn-primary pull-right"
                              (click)=" backSeat()">Back</button>
                            <button mat-raised-button class="btn btn-primary pull-right"
                              (click)="seatStatusUpdate()">Update</button>
                          </div>
                          <div>
                            <div>
                              <div class="seat-status social-distance">
                              </div>
                              Social Distance
                            </div>
                            <div>
                              <div class="seat-status locked">
                              </div>
                              Locked
                            </div>
                            <div>
                              <div class="seat-status default-blocked">
                              </div>
                              Default Blocked
                            </div>
                          </div>
                          <div>
                            <div style="position: relative;
                            left: 174px;
                            bottom: 68px;">
                              <div class="seat-status available-seat">
                              </div>
                              Available
                            </div>
                            <div style="position: relative;
                            left: 174px;
                            bottom: 62px;">
                              <div class="seat-status selected-seat">
                              </div>
                              Selected Seat
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->

            <button mat-raised-button *ngIf="showPopulatePublish && !showSeatLayout" class="btn btn-primary pull-right"
              (click)="back()">Back</button>
            <button mat-raised-button (click)="ediPublishDetails()" *ngIf="showPopulatePublish && !showSeatLayout"
              class="btn btn-primary pull-right">Save</button>
            <div class="clearfix"></div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>